@use "../core/variables" as vars;

body {
    background-color: vars.$color-main;
    font-family: vars.$font-main;
}

.containerimg {
    width: 150px;
    &__logo {
        width: 100%;
    }
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: vars.$color-secondary;
    }
}

.list-header {
    color: vars.$color-secondary;
    display: flex;
    gap: 15px;
}

.li-btn {
        &:hover {
        color: vars.$color-tercer;
    }
}